<mat-card>
  <p>Criação de Produtos</p>
  <form>
    <mat-form-field>
      <mat-label>Digite o nome do produto.</mat-label>
      <input matInput name="name" [(ngModel)]="product.name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Digite o preço do produto.</mat-label>
      <input matInput name="price" [(ngModel)]="product.price" />
    </mat-form-field>
  </form>
  <div class="botoes">
    <button mat-raised-button (click)="updateProduct()" color="primary">
      SALVAR
    </button>
    <button mat-raised-button (click)="cancel()" color="">CANCELAR</button>
  </div>
</mat-card>
